.about-us {
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .about-us-content {
    padding: 20px;
  }
  
  .about-us-title {
    text-align: center;
  }
  
  .about-us-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
  }
  
  .about-us-section {
    padding: 20px;
  }
  
  .about-us-section-title {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .about-us-section-description {
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
  }